.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-form-formrecaptcha {
  margin-bottom: 8px;
}

.hero_section {
  height: 100vh;
}

.navbar_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-transform: rotateX(0deg) rotateY(0.1deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(0.1deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.nav_button_left {
  position: absolute;
  left: -50px;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 50px;
  height: 100%;
  background-color: #dad1dd;
  -webkit-transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.nav_button_right {
  position: absolute;
  left: auto;
  top: 0%;
  right: -50px;
  bottom: 0%;
  width: 50px;
  height: 100%;
  background-color: #dad1dd;
  -webkit-transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.nav_button_bottom {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: -50px;
  width: 100%;
  height: 50px;
  background-color: #dad1dd;
  -webkit-transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
}

.text-block {
  color: #fff;
  font-weight: 700;
}

.nav_button_top {
  position: absolute;
  left: 0%;
  top: -50px;
  right: 0%;
  bottom: auto;
  width: 100%;
  height: 50px;
  background-color: #dad1dd;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.nav_link_block {
  position: relative;
  padding: 15px 20px;
  border-style: none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #6b4c75;
  -webkit-transform: translate3d(0px, 0px, 50px);
  transform: translate3d(0px, 0px, 50px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  text-decoration: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.nav_link_block:hover {
  z-index: 11;
  background-color: #86ae43;
  -webkit-transform: translate3d(0px, 0px, 100px);
  transform: translate3d(0px, 0px, 100px);
}

.nav_link_block:active {
  -webkit-transform: translate3d(0px, 0px, 50px);
  transform: translate3d(0px, 0px, 50px);
}

.nav_button {
  position: relative;
  z-index: 10;
  background-color: #2b2b2b;
  box-shadow: 0 4px 11px 2px rgba(0, 0, 0, 0.6);
}

.nav_button:hover {
  z-index: 12;
  background-color: rgba(0, 0, 0, 0.68);
  box-shadow: 0 7px 12px 8px rgba(0, 0, 0, 0.6);
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.rr_body {
  font-size: 16px;
  line-height: 24px;
}

.header_block {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  height: 135px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 37px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-transform: rotateX(0deg) rotateY(0.1deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(0.1deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.div-block-2 {
  position: relative;
  z-index: 10;
  background-color: #2b2b2b;
  box-shadow: 0 4px 11px 2px rgba(0, 0, 0, 0.6);
}

.div-block-2:hover {
  z-index: 12;
  background-color: rgba(0, 0, 0, 0.68);
  box-shadow: 0 7px 12px 8px rgba(0, 0, 0, 0.6);
}

.link-block {
  position: relative;
  padding: 15px 20px;
  border-style: none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #6521ab;
  -webkit-transform: translate3d(0px, 0px, 50px);
  transform: translate3d(0px, 0px, 50px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  text-decoration: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.link-block:hover {
  z-index: 11;
  background-color: #ffdecc;
  -webkit-transform: translate3d(0px, 0px, 100px);
  transform: translate3d(0px, 0px, 100px);
}

.link-block:active {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #000), to(hsla(0, 0%, 52.7%, 0.6)));
  background-image: linear-gradient(180deg, #000 20%, hsla(0, 0%, 52.7%, 0.6));
  -webkit-transform: translate3d(0px, 0px, 50px);
  transform: translate3d(0px, 0px, 50px);
}

.div-block-3 {
  position: absolute;
  left: 0%;
  top: -50px;
  right: 0%;
  bottom: auto;
  width: 100%;
  height: 50px;
  background-color: #5c9900;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.div-block-4 {
  position: absolute;
  left: auto;
  top: 0%;
  right: -50px;
  bottom: 0%;
  width: 50px;
  height: 100%;
  background-color: #5c9900;
  -webkit-transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.div-block-5 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: -50px;
  width: 100%;
  height: 50px;
  background-color: #5c9900;
  -webkit-transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.div-block-6 {
  position: absolute;
  left: -50px;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 50px;
  height: 100%;
  background-color: #5c9900;
  -webkit-transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.main_container {
  width: 100vw;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.about_section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact_section {
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer_section {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #6521ab;
}

.services_section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e4e4e4;
}

.testimonials_section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

.wrapper {
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  width: 100%;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-link {
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}

.footer-link:hover {
  opacity: 1;
}

.footer-link.w--current {
  opacity: 1;
  font-weight: 500;
}

.footer-link.spacing {
  margin-right: 16px;
  margin-left: 16px;
  color: #fff;
}

.footer-link.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
  color: #fff;
}

.footer-link.no-padding.last {
  margin-right: -20px;
}

.social-media-icon {
  padding: 8px;
  color: #fff;
}

.social-media-icons-contianer {
  font-family: 'Fa brands 400', sans-serif;
  color: #fff;
}

.social-media-icons-contianer.no-bottom-margins {
  color: #fff;
}

.centre-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.margin-bottom {
  margin-bottom: 40px;
}

._2_block_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

._2_block {
  width: 50%;
}

._2_block.margin_right {
  margin-right: 15px;
}

._2_block.margin_left {
  margin-left: 15px;
}

.rr_button {
  width: 150px;
  padding: 15px;
  border-radius: 10px;
  background-color: #5c9900;
  font-weight: 700;
}

._3_block_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

._3_block_review {
  width: 33.3%;
  height: 450px;
  margin: 0px 15px;
  padding: 25px;
  border: 1px solid #6521ab;
  border-radius: 10px;
  background-color: #ffdecc;
  color: #000;
}

.slide {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.slider {
  display: block;
  width: 100%;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: transparent;
}

.mask {
  overflow: hidden;
  width: 100%;
}

.hero_h1 {
  margin-top: 294px;
  margin-left: 0px;
  text-align: right;
}

.background-video {
  height: 100%;
}

._4_block_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0px;
}

._4_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

._4_block_row-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

._4_block-2 {
  width: 25%;
  margin: 0px 15px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.musical_icons {
  width: 96px;
  height: 96px;
}

.icon_para {
  text-align: left;
}

.parallax_block_music {
  height: 500px;
  background-image: url('../images/music_sheet_piano_keys.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.blog_section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e4e4e4;
}

.section_h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Verdana, Geneva, sans-serif;
  color: #6521ab;
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  text-shadow: 1px 1px 1px #5c9900;
}

.left-arrow {
  display: none;
  overflow: hidden;
}

.right-arrow {
  display: none;
  overflow: hidden;
}

.icon {
  display: none;
  overflow: hidden;
}

.icon-2 {
  display: none;
  overflow: hidden;
}

.rr_button_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  margin: 50px auto;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #5c9900;
}

.service_block {
  height: 300px;
}

.piano_service_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-image: url('../images/pexels-cottonbro-5650529.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.testimonial_para {
  margin-bottom: 20px;
  color: #000;
}

.author_block {
  color: #000;
  text-align: right;
}

.grid {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.service_block_h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 44px;
  line-height: 44px;
  text-shadow: 1px 1px 6px #5c9900;
}

.button-2 {
  background-color: #5c9900;
}

.div-block-7 {
  margin-top: 50px;
  margin-bottom: -50px;
}

.section_h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Verdana, Geneva, sans-serif;
  color: #6521ab;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-shadow: 1px 1px 1px #5c9900;
}

.image {
  margin-right: auto;
  margin-left: auto;
}

.img_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.services_links {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.main_container_ctr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section_h2-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 42px;
  line-height: 1.2em;
  text-align: center;
}

.mini_divide {
  width: 5%;
  height: 1px;
  margin: 25px auto;
  border-style: solid;
  border-width: 1px;
  border-color: #5c9900;
  text-align: left;
}

.collection-list-wrapper-3 {
  display: block;
  height: 675px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.mb_button {
  display: block;
  margin-left: 0px;
  padding: 20px 47px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #3c86e5;
  font-weight: 700;
  text-align: center;
}

.cms_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 675px;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px none #000;
  background-color: #fff;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}

.card_top {
  height: 250px;
}

.card_bottom {
  height: 425px;
  padding: 50px;
  background-color: #fff;
}

.card_h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-size: 29px;
  line-height: 1.3em;
}

.card_date {
  margin-bottom: 10px;
  color: #333;
  font-weight: 700;
}

.card_cms_para {
  margin-bottom: 0px;
  color: #000;
}

.cms_link_block {
  height: 675px;
  color: #333;
  text-decoration: none;
}

.cms_link_block:hover {
  box-shadow: 1px 1px 7px 1px #000;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.card_bottom-2 {
  height: 400px;
  padding: 50px;
  background-color: #fff;
}

.card_h3-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-size: 36px;
  line-height: 1.3em;
}

.card_cms_para-2 {
  color: #000;
}

.collection-list {
  height: 100%;
}

.collection-item {
  height: 100%;
}

.parallax_block_piano {
  height: 500px;
  background-image: url('../images/piano_lessons.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.parallax_block_singing {
  height: 500px;
  background-image: url('../images/singing_voice_training.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.parallax_block_notes {
  height: 500px;
  background-image: url('../images/music_sheet_piano_keys.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.lottie-animation {
  margin-bottom: -87px;
}

.image-2 {
  max-width: 35%;
}

.song_writing_service_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-image: url('../images/music_notes.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.ear_training_service_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-image: url('../images/pexels-cottonbro-5650529.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.music_theory_service_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-image: url('../images/pexels-cottonbro-5650529.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.lottie_animation_stars {
  width: 50%;
  margin-top: 10px;
  margin-bottom: -5px;
  margin-left: -15px;
}

.navbar-2 {
  background-color: #6521ab;
}

.nav-link {
  color: #fff;
}

.nav-link-2 {
  color: #fff;
}

.nav-link-3 {
  color: #fff;
}

.nav-link-4 {
  color: #fff;
}

.nav-link-5 {
  color: #fff;
}

.nav-link-6 {
  color: #fff;
}

.nav-link-7 {
  color: #2b2a2a;
}

.nav-link-7.w--current {
  color: #ffdecc;
}

.footer_links {
  margin-right: 25px;
  margin-left: 25px;
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
}

.link-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1920px) {
  .parallax_block_notes {
    background-image: url('../images/music_notes.jpg');
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    padding-right: 30px;
    padding-left: 30px;
  }

  .social-media-icons-contianer {
    display: block;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
  }

  .social-media-icons-contianer.no-bottom-margins {
    margin-bottom: 0px;
  }

  .margin-bottom {
    margin-bottom: 40px;
  }

  .main_container_ctr {
    width: 90%;
    max-width: 1200px;
  }

  .section_h2-2 {
    font-size: 38px;
  }

  .collection-list-wrapper-3 {
    margin-bottom: 25px;
  }

  .cms_block {
    height: auto;
  }

  .card_bottom {
    height: 250px;
    padding: 20px;
  }

  .card_h3 {
    font-size: 32px;
  }

  .card_cms_para {
    display: none;
  }

  .card_bottom-2 {
    height: 250px;
    padding: 20px;
  }

  .card_h3-2 {
    font-size: 32px;
  }

  .card_cms_para-2 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  ._4_block_row-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .musical_icons {
    width: 90px;
    height: 90px;
  }

  .main_container_ctr {
    width: 90%;
  }

  .section_h2-2 {
    font-size: 34px;
  }

  .cms_block {
    margin-bottom: 0px;
  }

  .card_bottom {
    width: 100%;
    margin-bottom: 0px;
  }

  .card_h3 {
    font-size: 30px;
    text-align: left;
  }

  .cms_link_block {
    margin-bottom: 25px;
  }

  .card_bottom-2 {
    width: 100%;
    margin-bottom: 0px;
  }

  .card_h3-2 {
    font-size: 30px;
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .footer-link.spacing {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .footer-link.no-padding.last {
    margin-right: -10px;
  }

  .footer-link.no-padding.first {
    margin-left: -12px;
  }

  .social-media-icon {
    padding: 0px;
  }

  .social-media-icons-contianer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .social-media-icons-contianer.no-bottom-margins {
    margin-bottom: 0px;
  }

  ._4_block_row-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  ._4_block-2 {
    display: block;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .section_h2 {
    padding-top: 14px;
    font-size: 30px;
    line-height: 30px;
  }

  .section_h3 {
    padding-top: 14px;
    font-size: 30px;
    line-height: 30px;
  }

  .section_h2-2 {
    font-size: 30px;
  }

  .mini_divide {
    width: 15%;
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .card_bottom {
    padding: 7px 15px;
  }

  .card_bottom-2 {
    padding: 7px 15px;
  }
}

@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2'), url('../fonts/fa-brands-400.eot') format('embedded-opentype'), url('../fonts/fa-brands-400.woff') format('woff'), url('../fonts/fa-brands-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}